Body {
     height: 100vh; 
     display: flex;
      align-items: center; 
      justify-content: center;
      flex-direction: column;
     } 

     h1{
        font-family: 'Big Shoulders Display', sans-serif;
        font-weight: 700;
        color:hsl(0, 0%, 95%);
     }

     p{
        font-family: 'Lexend Deca', sans-serif;
        margin-bottom: 90px;
        font-size: 13px;
        line-height: 2;
     }

.container{
    display: flex;
    flex-direction: row;
    width: 55%;
    height: auto;
    margin-bottom: 70px;
    border-radius: 10px;
    overflow: hidden;
}

.card{
    color: hsla(0, 0%, 100%, 0.75);
    padding: 30px;
    padding-top: 20px 40px 20px 20px;
    
}

.first{
    background-color:hsl(31, 77%, 52%) ;
}

.first button{
    color:hsl(31, 77%, 52%) ;
}

.second{
    background-color:hsl(184, 100%, 22%) ;
}

.second button{
    color:hsl(184, 100%, 22%) ;
}

.third{
    background-color: hsl(179, 100%, 13%);
}

.third button{
    color: hsl(179, 100%, 13%);
}

button{
background-color: hsl(0, 0%, 95%);
border: none;
border-radius: 30px;
width: 120px;
height: 40px;
margin-bottom: 20px;
}

button:hover{
cursor: pointer;
background-color: inherit;
color: #fff;
border: 1px solid #fff;
}

